body {
    transition: background-image 1s ease-in-out;
    height: 100vh;
    margin: 0;
    background-size: cover;
    background-position: center;
    color: white;
    font-family: "Inter", sans-serif;
}

.rectangle {
    margin: auto;
    height: 110px;
    width: 390px;
    background-color: #555;
    border-radius: 25px;
    padding: 10px;
    line-height: 25px;
}

h1 {
    text-align: center;
    font-weight: 575;
}

form {
    margin-top: 1%;
    margin-left: 18%;
}

.filler {
    height: 200px;
}

input[type="file"] {
    position: absolute;
    bottom: 20px;
    left: 20px;
}
